#login-page h1 {
    color: red;
    text-align: center;
    font-family: 'Bradley Hand', cursive;
    font-size: xx-large;
    margin-top: 30px;
    margin-bottom: 70px;
}

#login-page .wrapper {
    display: flex;
    justify-self: center;
    align-self: center;
    align-items: center;
}

#login-page form {
    padding: 30px;
    border: 2px solid #999;
    border-radius: 5%;
}

#login-page div.radio {
    width: 50%;
    text-align: center;
}

#login-page label {
    font-size: x-large;
    margin-right: 15px;
    line-height: 32px;
}

#login-page .sign-in-up {
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;

    border-radius: 50%;
    width: 16px;
    height: 16px;

    border: 2px solid #999;
    transition: 0.2s all linear;
    outline: none;
    margin-right: 5px;

    position: relative;
    top: 4px;
}

#login-page .sign-in-up:checked {
    border: 6px solid brown;
}

#login-page .auth-input {
    width: 32ch;
    margin-top: 20px;
    font-size: large;
}

#login-page .submitButton {
    width: fit-content;
}

#login-page .auth-input:hover,
#login-page .auth-input:focus {
    transform: scale(1.1, 1.2);
}